<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图书列表</title>
</head>
<body>
<h1>图书列表</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>书名</th>
        <th>作者</th>
        <th>价格</th>
    </tr>
    <tr th:each="book : ${bookList}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.title}">Java编程思想</td>
        <td th:text="${book.author}">Bruce Eckel</td>
        <td th:text="${book.price}">89.0</td>
    </tr>
</table>
</body>
</html>